@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Waveoffice - Responsive admin template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/Content/css/bootstrap.css" rel="stylesheet">
    <link href="/Content/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/Content/css/style.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../../../html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script src="/Content/js/ie/respond.min.js"></script>
      <script src="/Content/js/flot/excanvas.js"></script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/Content/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/Content/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/Content/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/Content/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/Content/ico/apple-touch-icon-57-precomposed.png">
</head>

<body>


    <!-- Copyright © 2008. Spidersoft Ltd -->
    <style>
        A.applink:hover {
            border: 2px dotted #DCE6F4;
            padding: 2px;
            background-color: #ffff00;
            color: green;
            text-decoration: none;
        }

        A.applink {
            border: 2px dotted #DCE6F4;
            padding: 2px;
            color: #2F5BFF;
            background: transparent;
            text-decoration: none;
        }

        A.info {
            color: #2F5BFF;
            background: transparent;
            text-decoration: none;
        }

            A.info:hover {
                color: green;
                background: transparent;
                text-decoration: underline;
            }
    </style>

    <!-- /Copyright © 2008. Spidersoft Ltd -->


    <header>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <div class="row-fluid">

                        <div class="span6">
                            <h3>Mehmet TOKAK</h3>
                        </div>

                        <div class="span6">
                            <div class="header-actions">
                                <div class="messages dropdown">
                                    <a href="#" class="dropdown-toggle mess" data-toggle="dropdown"></a>

                                    <ul class="messages-box dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">

                                        <li><a href="#" class="all">View all messages</a></li>
                                    </ul>
                                </div>

                                <div class="logged-info">
                                    <a href="#" class="login">
                                        <img src="~/Content/img/575317_4896827749004_1840067788_n.jpg" alt="">
                                        <span><small>Mehmet TOKAK </small><i class="icon-chevron-down icon-white"></i></span>
                                        <div class="clear"></div>
                                    </a>

                                    <div class="profile-options">
                                        <img src="/Content/img/575317_4896827749004_1840067788_n.jpg" alt="">

                                        <div class="info">
                                            <h4>Mehmet TOKAK <br> <span>tokakmehmet@gmail.com</span></h4>
                                            <ul class="options">
                                                <li><a href="#">EProfi</a></li>
                                                <li><a href="#">Ayarlar</a></li>
                                               
                                            </ul>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>

                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="maincontainer">

        <div class="patterns" id="body-patterns">
            <span class="background" id="pattern1"></span>
            <span class="background" id="pattern2"></span>
            <span class="background" id="pattern3"></span>
            <span class="background" id="pattern4"></span>
            <span class="background" id="pattern5"></span>
            <a href="#"><span></span></a>
        </div>

        <div class="patterns" id="right-sidebar-bg">
            <span class="background" id="pattern1"></span>
            <span class="background" id="pattern2"></span>
            <span class="background" id="pattern3"></span>
            <span class="background" id="pattern4"></span>
            <span class="background" id="pattern5"></span>
            <a href="#"><span></span></a>
        </div>

        <div class="patterns" id="main-nav-bg">
            <span class="background" id="pattern1"></span>
            <span class="background" id="pattern2"></span>
            <span class="background" id="pattern3"></span>
            <span class="background" id="pattern4"></span>
            <span class="background" id="pattern5"></span>
            <a href="#"><span></span></a>
        </div>

        <!-- ======= Header start ======= -->
        <div class="screen"></div>


        <!-- ======= Header end ======= -->
        <!-- ======= Content wrap ======= -->
        <div id="contentwrap">

            <!-- ======= Main content ======= -->
            <div class="main-content">

                <!-- ======= Top path and breadcrumbs ======= -->
                <div class="path">
                    <div class="inner">
                        <h4><i class="icon-home"></i> Net Ücretten Brüt Ücret Hesaplama</h4>
                        <!-- ======= Breadcrumbs ======= -->
                      
                        <!-- ======= Breadcrumbs ======= -->
                    </div>
                </div>
                <div class="clear"></div>
                <!-- ======= Top path and breadcrumbs end ======= -->

                <div class="resp">
                    <span class="goto"><i class="icon-home"></i> Dashboard</span>
                    <span class="pointer icon-chevron-down"></span>
                    <ul class="respnav">
                        @*<li><a href="dashboard.html"><i class="icon-home"></i> Net=Brüt Hesapla</a></li>*@
                        @Html.ActionLink("Net=>Brüt Hesapla", "Net_maas", "AnaSayfa")

                    </ul>
                </div>

                <!-- ======= Container fluid start ======= -->
                @RenderBody()
                <!-- ======= Container fluid end ======= -->

            </div>
            <!-- ======= Main content end ======= -->
            <!-- ======= Right sidebar ======= -->
            <div class="right-sidebar">
                <div id="tab-container">
                    <ul class="icons">
                        <li><a class="active" href="#general"><i class="icon-th-large"></i></a></li>
                        <li><a href="#tab1"><i class="icon-user"></i></a></li>
                        <li><a href="#tab2"><i class="icon-inbox"></i></a></li>
                    </ul>

                    <!-- ======= General tab start ======= -->
                    <div id="general" class="tab">
                        <div class="sidebar-inner">
                            <a href="#" class="btn btn-block btn-danger"><i class="icon-white icon-plus"></i> Add New Session</a>
                        </div>

                        <div class="sidebar-inner">
                            <a href="#" class="btn btn-block btn-success"><i class="icon-white icon-plus"></i> New Orders</a>
                        </div>

                        <div class="divider"><span></span></div>

                        <div class="sidebar-inner">
                            <div class="drag-files-container">
                                <div class="drag-file-field">

                                </div>
                            </div>
                        </div>

                        <a href="#" class="switch-upload"><span></span></a>
                        <div class="upload-status">
                            <div class="upload-files">
                                <div class="uploading-files">
                                    <img src="//Content/img/ajax-preloaders/loaderB16.gif" alt="">
                                    <p>General-elements.psd</p>
                                    <span>2.28 of 7.52MB - 45KB/sec - 7 min</span>
                                    <div class="progress progress-danger progress-striped">
                                        <div class="bar" style="width: 40%;"></div>
                                    </div>
                                </div>

                                <div class="uploaded-files">
                                    <p><span class="file-success"></span> Dashboard.psd</p>
                                    <a class="close" href="#">&times;</a>
                                </div>

                                <div class="uploaded-files">
                                    <p><span class="file-success"></span> Buttons.psd</p>
                                    <a class="close" href="#">&times;</a>
                                </div>

                                <div class="uploaded-files">
                                    <p><span class="file-error"></span> Forms.psd</p>
                                    <a class="close" href="#">&times;</a>
                                </div>

                                <div class="uploaded-files">
                                    <p><span class="file-success"></span> Login.psd</p>
                                    <a class="close" href="#">&times;</a>
                                </div>

                                <div class="uploaded-files">
                                    <p><span class="file-queue"></span> Gallery.psd</p>
                                    <a class="close" href="#">&times;</a>
                                </div>
                            </div>
                        </div>

                        <div class="divider"><span></span></div>

                        <div class="sidebar-inner">
                            <div class="inlinedate"></div>
                        </div>

                        <div class="divider"><span></span></div>

                        <div class="sidebar-inner">
                            <input id="tags" class="tags" value="This, are, simple, tags">
                            <div class="clear"></div>
                        </div>

                        <div class="divider"><span></span></div>

                        <div class="sidebar-inner">
                            <div class="row-fluid">
                                <div class="span6">
                                    <a href="#" class="btn btn-block btn-info">New users</a>
                                </div>

                                <div class="span6">
                                    <a href="#" class="btn btn-block btn-primary">Messages</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- ======= General tab end ======= -->
                    <!-- ======= Tab1 start ======= -->
                    <div id="tab1" class="tab">
                        <div class="sidebar-inner">
                            <a href="#" class="btn btn-block btn-danger"><i class="icon-white icon-plus"></i> Add New Session</a>
                        </div>

                        <div class="sidebar-inner">
                            <a href="#" class="btn btn-block btn-success"><i class="icon-white icon-plus"></i> New Orders</a>
                        </div>

                        <div class="divider"><span></span></div>

                        <h2 class="heading"><i class="icon-th"></i> Simple jquery tree</h2>
                        <div class="filetree"></div>

                        <div class="divider"><span></span></div>

                        <ul class="users">
                            <li>
                                <a href="#">
                                    <img src="//Content/img/chat-avatar-1.png" alt="">
                                    <span class="name">
                                        <strong>Lejla Fejzic</strong><br>
                                        graphic designer
                                    </span>
                                    <span class="away"></span>
                                    <div class="clear"></div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="//Content/img/chat-avatar.png" alt="">
                                    <span class="name">
                                        <strong>Bernad Delic</strong><br>
                                        web developer
                                    </span>
                                    <span class="offline"></span>
                                    <div class="clear"></div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="//Content/img/chat-avatar-1.png" alt="">
                                    <span class="name">
                                        <strong>John Smith</strong><br>
                                        system administrator
                                    </span>
                                    <span class="online"></span>
                                    <div class="clear"></div>
                                </a>
                            </li>
                        </ul>

                        <div class="divider"><span></span></div>

                        <div class="sideWidget">
                            <div class="inlinedate"></div>
                        </div>

                        <div class="divider"><span></span></div>

                        <div class="sidebar-inner">
                            <div class="row-fluid">
                                <div class="span6">
                                    <a href="#" class="btn btn-block btn-info">New users</a>
                                </div>

                                <div class="span6">
                                    <a href="#" class="btn btn-block btn-primary">Messages</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- ======= Tab1 end ======= -->
                    <!-- ======= Tab2 start ======= -->
                    <div id="tab2" class="tab">
                        <div class="sidebar-inner">
                            <a href="#" class="btn btn-block btn-danger"><i class="icon-white icon-plus"></i> Add New Session</a>
                        </div>

                        <div class="sidebar-inner">
                            <a href="#" class="btn btn-block btn-success"><i class="icon-white icon-plus"></i> New Orders</a>
                        </div>

                        <div class="divider"><span></span></div>

                        <div class="sidebar-inner">
                            <span class="input_label">Simple input field:</span>
                            <input type="text" class="simple_input">
                        </div>

                        <div class="sidebar-inner">
                            <span class="input_label">Simple password field:</span>
                            <input type="password" class="simple_input">
                        </div>

                        <div class="sidebar-inner">
                            <span class="input_label">Simple upload field:</span>
                            <input type="file" class="simple_input">
                        </div>

                        <div class="sidebar-inner">
                            <span class="input_label">Dropdown menu:</span>
                            <select class="uniform">
                                <option>Usual select box</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                                <option>Option 5</option>
                                <option>Option 6</option>
                                <option>Option 7</option>
                                <option>Option 8</option>
                            </select>
                        </div>

                        <div class="sidebar-inner">
                            <span class="input_label">Dropdown menu with search:</span>
                            <select class="select">
                                <option>Usual select box</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                                <option>Option 5</option>
                                <option>Option 6</option>
                                <option>Option 7</option>
                                <option>Option 8</option>
                                <option>Option 9</option>
                                <option>Option 10</option>
                                <option>Option 11</option>
                                <option>Option 12</option>
                                <option>Option 13</option>
                                <option>Option 14</option>
                                <option>Option 15</option>
                            </select>
                        </div>

                        <div class="sidebar-inner nSearch">
                            <span class="input_label">Dropdown menu without search:</span>
                            <select class="select">
                                <option>Usual select box</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                                <option>Option 5</option>
                            </select>
                        </div>

                        <div class="sidebar-inner">
                            <input type="checkbox" /> <span class="button_label">Checkbox</span>
                        </div>

                        <div class="sidebar-inner">
                            <input type="radio" /> <span class="button_label">Radio</span>
                        </div>

                        <div class="sidebar-inner">
                            <span class="input_label">Textarea:</span>
                            <textarea name="msg" class="simple_textarea"></textarea>
                        </div>

                        <div class="divider"><span></span></div>

                        <div class="sideWidget">
                            <div class="inlinedate"></div>
                        </div>

                        <div class="divider"><span></span></div>

                        <div class="sidebar-inner">
                            <div class="row-fluid">
                                <div class="span6">
                                    <a href="#" class="btn btn-block btn-info">New users</a>
                                </div>

                                <div class="span6">
                                    <a href="#" class="btn btn-block btn-primary">Messages</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- ======= Tab2 end ======= -->

                </div>
            </div>
            <!-- ======= Right sidebar end ======= -->





        </div>
        <!-- ======= Content wrap end ======= -->




        <a href="javascript:void(0);" class="sidebar_switch switch_on"></a>
        <!-- ======= Main navigation ======= -->
        <div class="main-navigation">
            <!-- Main navigation start -->
            <div class="antiscroll">
                <div class="antiscroll-inner">
                    <div class="antiscroll-content">
                        <form>
                            <div class="inner">
                                <input type="text" name="search" placeholder="search for something...">
                            </div>
                        </form>

                        <ul class="main-menu">
                            <li>@Html.ActionLink("Net=>Brüt Hesapla", "Net_maas", "AnaSayfa")</li>

                        </ul>
                    </div>

                    <div class="info_sidebar">
                        <div class="side_widget" align="center">

                            <div class="update">
                                <p class="title">Next update in:</p>
                                <p class="time">13 hrs 13 min</p>
                                <div class="clear"></div>
                                <div class="black-progress updates"></div>
                            </div>

                            <div class="status_widget">
                                <p>Visitors</p>
                                <div class="info">
                                    <span>
                                        <img src="//Content/img/decrease.png" alt="">
                                        <p class="red">68</p>
                                    </span>
                                </div>
                            </div>

                            <div class="status_widget">
                                <p>Sales</p>
                                <div class="info">
                                    <span>
                                        <img src="//Content/img/neutral.png" alt="">
                                        <p class="blue">0</p>
                                    </span>
                                </div>
                            </div>

                            <div class="status_widget">
                                <p>Profit</p>
                                <div class="info">
                                    <span>
                                        <img src="//Content/img/increase.png" alt="">
                                        <p class="green">0.8</p>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- ======= Main navigation end ======= -->






    </div>
    <!-- ======= Main container end ======= -->
    <!-- ======= Javascript ======= -->
    <script src="/Content/js/jquery-1.7.2.min.js"></script>

    <!-- ======= Bootstrap plugins ======= -->
    <script src="/Content/js/bootstrapPlugins/bootstrap.js"></script>
    <script src="/Content/js/bootstrapPlugins/bootstrap-transition.js"></script>
    <script src="/Content/js/bootstrapPlugins/bootstrap-alert.js"></script>
    <script src="/Content/js/bootstrapPlugins/bootstrap-modal.js"></script>
    <script src="/Content/js/bootstrapPlugins/bootstrap-dropdown.js"></script>
    <script src="/Content/js/bootstrapPlugins/bootstrap-scrollspy.js"></script>
    <script src="/Content/js/bootstrapPlugins/bootstrap-tab.js"></script>
    <script src="/Content/js/bootstrapPlugins/bootstrap-tooltip.js"></script>
    <script src="/Content/js/bootstrapPlugins/bootstrap-popover.js"></script>
    <script src="/Content/js/bootstrapPlugins/bootstrap-button.js"></script>
    <script src="/Content/js/bootstrapPlugins/bootstrap-collapse.js"></script>
    <script src="/Content/js/bootstrapPlugins/bootstrap-carousel.js"></script>
    <script src="/Content/js/bootstrapPlugins/bootstrap-typeahead.js"></script>

    <!-- ======= Chosen ======= -->
    <script src="/Content/js/chosen/chosen.jquery.js"></script>

    <!-- ======= Antiscroll ======= -->
    <script src="/Content/js/antiscroll/antiscroll.js"></script>

    <!-- ======= Cleditor ======= -->
    <script src="/Content/js/cleditor/jquery.cleditor.min.js"></script>

    <!-- ======= Colorpicker ======= -->
    <script src="/Content/js/colorPicker/colorpicker.js"></script>

    <!-- ======= Cookie ======= -->
    <script src="/Content/js/cookie/jquery.cookie.min.js"></script>

    <!-- ======= Datatable ======= -->
    <script src="/Content/js/dataTable/jquery.dataTables.min.js"></script>

    <!-- ======= Debounced resize ======= -->
    <script src="/Content/js/debonucedResize/jquery.debouncedresize.min.js"></script>

    <!-- ======= Easy tabs ======= -->
    <script src="/Content/js/easyTabs/jquery.easytabs.min.js"></script>

    <!-- ======= Fancybox ======= -->
    <script src="/Content/js/fancybox/jquery.easing-1.3.pack.html"></script>
    <script src="/Content/js/fancybox/jquery.fancybox-1.3.4.js"></script>
    <script src="/Content/js/fancybox/jquery.fancybox-1.3.4.pack.html"></script>
    <script src="/Content/js/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>

    <!-- ======= Jquery flot ======= -->
    <script src="/Content/js/flot/jquery.flot.js"></script>
    <script src="/Content/js/flot/jquery.flot.pie.js"></script>
    <script src="/Content/js/flot/jquery.flot.resize.js"></script>

    <!-- ======= Full calendar ======= -->
    <script src="/Content/js/fullcalendar/fullcalendar.js"></script>
    <script src="/Content/js/fullcalendar/excanvas.min.js"></script>

    <!-- ======= File tree ======= -->
    <script src="/Content/js/jqueryFileTree/jqueryFileTree.js"></script>

    <!-- ======= Jquery tagsinput ======= -->
    <script src="/Content/js/jqueryTags/jquery.tagsinput.min.js"></script>

    <!-- ======= Jquery UI ======= -->
    <script src="/Content/js/jqueryui/jquery.spinners.min.js"></script>
    <script src="/Content/js/jqueryui/jquery-ui-1.8.21.custom.min.js"></script>
    <script src="/Content/js/jqueryui/ui.selectmenu.js"></script>

    <!-- ======= Form wizards ======= -->
    <script src="/Content/js/form-wizard/jquery.form.wizard.js"></script>
    <script src="/Content/js/form-wizard/jquery.form.js"></script>
    <script src="/Content/js/form-wizard/bbq.js"></script>

    <!-- ======= Masked inputs ======= -->
    <script src="/Content/js/maskedInputs/jquery.maskedinput-1.3.js"></script>

    <!-- ======= Qtip ======= -->
    <script src="/Content/js/qtip/jquery.qtip.min.js"></script>

    <!-- ======= Sparklines ======= -->
    <script src="/Content/js/sparklines/jquery.sparkline.js"></script>

    <!-- ======= Super textarea ======= -->
    <script src="/Content/js/superTextarea/jquery.supertextarea.min.js"></script>

    <!-- ======= Jquery tipsy ======= -->
    <script src="/Content/js/tipsy/jquery.tipsy.js"></script>

    <!-- ======= Jquery tipsy ======= -->
    <script src="/Content/js/lockscreen/lockscreen.js"></script>

    <!-- ======= Jquery tipsy ======= -->
    <script src="/Content/js/prettyPhoto/jquery.prettyPhoto.js"></script>

    <!-- ======= Jquery iButton ======= -->
    <script src="/Content/js/iButton/jquery.ibutton.js"></script>
    <script src="/Content/js/iButton/jquery.metadata.js"></script>

    <!-- ======= Jquery uniform ======= -->
    <script src="/Content/js/uniform/jquery.uniform.min.js"></script>

    <!-- ======= Jquery validate ======= -->
    <script src="/Content/js/validate/jquery.validate.min.js"></script>

    <!-- ======= Jquery validation engine ======= -->
    <script src="/Content/js/validationEngine/jquery.validationEngine.js"></script>
    <script src="/Content/js/validationEngine/jquery.validationEngine-en.js"></script>

    <!-- ======= xBreadcrumbs ======= -->
    <script src="/Content/js/xBreadcrumbs/xbreadcrumbs.js"></script>

    <!-- ======= Custom ======= -->
    <script src="/Content/js/common.js"></script>
    <script src="/Content/js/forms.js"></script>
    <script src="/Content/js/tables.js"></script>

    <!--[if lte IE 8]>
            <link rel="stylesheet" href="/Content/css/ie8.css" />
    <![endif]-->
    <!--[if IE]>
            <link rel="stylesheet" href="/Content/css/ie.css" />
    <![endif]-->

</body>
</html>
