@{
    ViewBag.Title = "giris";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title></title>

    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" media="screen" href="/css1/css1.css">
   

    @*********************************************************************************************************************************@
</head>
<body>
    <div class="vid-container" >
        <form action="/Admin/Login" method="post">
            <div class="inner-container">

                <div class="box">
                    <h1></h1>

                    <input type="text" name="f_User" placeholder="Username" />
                    <input type="text" name="f_Pass" placeholder="Password" />
                    <button>Login</button>
                    <p>@Html.Raw(ViewBag.Error)</p>
                    
                </div>
            </div>
        </form>
    </div>
</body>
</html>
